


body {
    font-family: 'Roboto', sans-serif;
    background-color:seashell;
    margin: 0;
    padding: 2% 5%
}

.card-section {
    border: 1px solid black;
    background-color: cornflowerblue;
}
